.intro {
   padding: 0px 0px 0px 0px;
   @extend %bg;
}

.intro-block {
   display: flex;
   align-items: center;
}

.intro-block__info {
   padding: 35px 0px 0px 79px;
   flex: 0 1 39%;
   color: $whiteColor;

   @media (max-width: $md2 + px) {
      padding: 35px 0px 0px 44px;
      flex: 0 1 56%;
   }

   @media (max-width:400px) {
      padding: 35px 0px 0px 20px;
   }

   h1 {
      padding: 0px 0px 20px 0px;
      font-family: Roboto;
      @include adaptive-font (72, 12);
      line-height: calc(84 / 72);
   }

   p {
      font-family: Roboto;
      @include adaptive-font (36, 16);
      line-height: calc(42 / 36);

      @media (max-width: 768px) {
         padding: 0px 0px 20px 0px;
      }
   }
}

.intro-block__pic {
   padding: 50px 0px 0px 0px;
   text-align: right;
   flex: 0 1 47.8%;

   @media (max-width:$md2 + px) {
      flex: 0 1 40%;
   }
}