.questions__container {
   padding: 0px 50px 37px 50px;
   background-color: #0000;

   @media (max-width: $md2 +px){
     padding: 0px 0px 0px 0px;
   }
}

.questions {
   padding: 0px 0px 0px 0px;
   margin-top: 39px;
   background-color: $whiteColor;
}

.questions__title {
   padding: 55px 0px 42px 0px;
   text-align: center;

   span {
      @include adaptive-font (39, 16);
      line-height: calc(40 / 39);
      font-weight: 700;
      color: $titleColor;
   }
}

.questions-sp {
   padding: 0px 0px 0px 30px;
   display: grid;
   grid-template-columns: 1fr 1fr;

   @media (max-width: $md2 +px){
      padding: 0px 10px 0px 10px;
      display: flex;
      flex-direction: column;
   }
}

.questions-sp__block{
   padding-bottom: 37px;
}


._block__title {
   padding: 0px 0px 0px 25px;
   display: block;
   @include adaptive-font (21, 16);
   line-height: calc(24 / 21);
   font-weight: 700;
   position: relative;
   cursor: pointer;

   &::before,
   &::after {
      content: '';
      width: 13px;
      height: 3px;
      background-color: $titleColor;
      position: absolute;
      top: 12px;
      left: 1px;
   }

   &::before {
      transform: rotate(40deg);
      left: 0px;
   }

   &::after {
      transform: rotate(-40deg);
      left: 6.5px;
   }

   .active {

      &::before,
      &::after {
        
      }

      &::before {
         transform: rotate(-40deg);
      }

      &::after {
         transform: rotate(40deg);
      }
   }
}

._block__title.active {

   color: $titleColor;

   &::before {
      transform: rotate(-40deg);
   }

   &::after {
      transform: rotate(40deg);
   }
}

._block__text {
   padding-top: 11px;
   width: 90%;
   display: none;
   @include adaptive-font (18, 16);
   line-height: calc(24 / 18);
}