.news__container {
   padding: 39px 50px 34px 50px;

   @media (max-width: $md2 + px) {
      padding: 39px 0px 34px 0px;
   }
}

.news {
   display: flex;

   @media (max-width: $md2 + px) {
      flex-direction: column;
   }
}

.news__store {
   padding: 48px 0px 88px 60px;
   margin-right: 18px;
   flex: 0 1 50%;
   background: linear-gradient(218.53deg, #2FA365 0%, #15545C 100%);
   box-shadow: 0px 2px 4px rgba(0, 24, 112, 0.21);
   border-radius: 3px;
   color: $whiteColor;

   @media (max-width: $md2 + px) {
      margin: 0px 0px 20px 0px;
   }

   @media (max-width: $md4 +px) {
      padding: 48px 20px 88px 20px;
   }
}

._store__title {
   padding: 0px 0px 30px 0px;
   @include adaptive-font (39, 16);
   line-height: calc(40 / 39);
   font-weight: 700;
}

._store__text {
   p {
      width: 70%;
      margin-bottom: 20px;
      @include adaptive-font (18, 16);
      line-height: calc(24 / 18);

      @media (max-width: 1200px) {
         width: 85%;
      }

      @media (max-width: $md4 +px) {
         width: 100%;
      }
   }


}

._store__list {
   @include adaptive-font (18, 16);
   line-height: calc(24 / 18);

   li {
      width: 65%;

      @media (max-width: 1200px) {
         width: 85%;
      }
   }
}

.news__materials {
   flex: 0 1 50%;
   color: $whiteColor;
}

._materials__title {
   padding: 20px 0px;
   @include adaptive-font (39, 16);
   line-height: calc(40 / 39);
   font-weight: 700;
   text-align: center;
   background: linear-gradient(270deg, #2FA365 0%, #15545C 100%);
   box-shadow: 0px 2px 4px rgba(0, 24, 112, 0.21);
   border-radius: 3px;
}

.materials__blocks {
   background-color: $whiteColor;
   padding: 0px 0px 0px 0px;
}

.material__card {
   padding: 13px 31px 0px 17px;
   display: flex;
   background: #FFFFFF;
   box-shadow: 0px 0px 4px rgba(0, 24, 112, 0.21);

   @media (max-width: $md4 +px) {
      flex-direction: column;
      align-items: center;
   }
}

._card__pic {
   margin-right: 24px;

   @media (max-width: $md4 +px) {
      margin-bottom: 10px;
   }
}

._card__text {
   color: black;
   position: relative;

   p {
      width: 72%;
      padding: 0px 0px 10px 0px;
      @include adaptive-font (21, 16);
      line-height: calc(24/ 21);
      font-weight: 700;

      @media (max-width: 1200px) {
         width: 85%;
      }

   }

   span {
      display: block;
      width: 85%;

      @media (max-width: 1200px) {
         width: 100%;
      }

      @media (max-width: $md2 + px) {
         width: 85%;
      }
   }

   a {
      padding: 0px 0px 6px 0px;
      display: block;
      @include adaptive-font (18, 16);
      line-height: calc(24 / 18);
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      color: $buttonColor;
      text-align: right;
   }
}

.news__all {
   width: 100%;
   text-align: center;
   background-color: $whiteColor;
   box-shadow: 0px 0px 4px rgba(0, 24, 112, 0.21);

   a {
      display: block;
      padding: 11px 0px;
      @include adaptive-font (18, 16);
      line-height: calc(24 / 18);
      color: $buttonColor;
      font-weight: 700;
   }
}