.burger {
   display: block;
   position: relative;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   z-index: 9999999;
   cursor: pointer;
   box-sizing: content-box;
   color: #7a7a7a;

   span {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 4px;
      border-radius: 13px;
      transition-duration: .4s;
      background: #007F00;

      &:nth-child(1) {
         top: 15px;
      }

      &:nth-child(2) {
         top: 24px;
      }

      &:nth-child(3) {
         bottom: 13px;
      }
   }
}

.active {
   span {
      &:nth-child(1) {
         transform: translate(-15px, 10px) rotate(-45deg);
         left: 50%;
      }

      &:nth-child(2) {
         transition-duration: 0s;
         opacity: 0;
      }

      &:nth-child(3) {
         transform: translate(-15px, -9px) rotate(45deg);
         left: 50%;
      }
   }
}

.mobile {
   padding: 0px 0px 0px 20px;

   nav {
      display: none;
      overflow: hidden;

      padding: 0px 0px 45px 0px;
      position: absolute;
      top: -500px;
      border-radius: 50%;
      z-index: 39;
      transition-duration: .7s;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
   }

   .open {
      overflow: hidden;
      display: flex;
      position: fixed;
      width: 100vw;
      height: 65vh;
      right: 0px;
      bottom: 0px;
      top: 89px;
      border-radius: 0;
      z-index: 300;
      background-color: $whiteColor;

      @media (max-width: 530px) {
         justify-content: space-around;
      }
   }

}

._header-list__mobile {
   overflow: hidden;

   ul {
      display: flex;
      flex-direction: column;

      li {
         margin-bottom: 23px;

         &:last-child {
            margin-bottom: 0px;
         }

         a {
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
         }
      }
   }
}

._header_menu-info__mobile {
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.header-top__mobile {
   overflow: hidden;
   padding: 8px 0px 6px 0px;
   @extend %bg;
   text-align: center;
   width: 100%;


   span {
      font-size: 12px;
      line-height: 14px;
      color: $whiteColor;
      text-transform: uppercase;
      overflow: hidden;
   }
}

.mobile {
   display: none;

   @media (max-width:1110px) {
      display: flex;
      flex: 0 1 10%;
   }
}

.burger-wrapper {
   padding: 0px 20px 26px 26px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
}