.burger {
   display: block;
   position: relative;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   z-index: 9999999;
   box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   box-sizing: content-box;
   color: #7a7a7a;

   span {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 4px;
      border-radius: 13px;
      transition-duration: .4s;

      &:nth-child(1) {
         top: 15px;
      }

      &:nth-child(2) {
         top: 24px;
      }

      &:nth-child(3) {
         bottom: 13px;
      }
   }

   .active {
      span {
         &:nth-child(1) {
            transform: translate(-15px, 10px) rotate(-45deg);
            left: 50%;
         }

         &:nth-child(2) {
            transition-duration: 0s;
            opacity: 0;
         }

         &:nth-child(3) {
            transform: translate(-15px, -9px) rotate(45deg);
            left: 50%;
         }
      }
   }
}

nav {
   display: none;
}

.mobile {
   padding: 0px 20px;

   nav {
      display: none;

      @media (min-width: $md2 + px) {
         display: block;
      }

      padding: 134px 40px 80px 40px;
      position: absolute;
      top: 0px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      z-index: 99;
      transition-duration: .4s;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
      overflow: hidden;

      @media (max-width: $md4 +120.02px) {
         padding: 134px 20px 80px 20px;
      }
   }

   .open {
      display: flex;
      position: fixed;
      flex-direction: row;
      justify-content: space-between;
      width: 100vw;
      height: 100vh;
      right: 0px;
      bottom: 0px;
      top: 0px;
      border-radius: 0;
      z-index: 300;

   }

}

.mobile__nav {
   overflow: hidden;
   .show {
      display: flex;
      flex-direction: column;
      margin: 80px 0px 0px 0px;
      padding: 0;
   }

   li {
      background-color: transparent;
      width: 100%;
      text-align: left;
      opacity: 0;
      animation-name: fadein;
      animation-duration: 1s;
      animation-fill-mode: forwards;

      &:not(:last-child) {
         margin-bottom: 22px;
      }

      a {
         display: flex;
         padding: 10px;
         margin: 0px 0px 20px 0px;
         font-size: 24px;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         text-decoration: none;
         color: #fff;
      }
   }
}


.mobile{
   display: none;
}