.footer {
   padding: 100px 76px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: linear-gradient(270deg, #2FA365 0%, #15545C 100%);
   flex-shrink: 0;

   @media (max-width: 1300px) {
      padding: 100px 40px;
   }

   @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 240px;
   }

   @media (max-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 100px;
   }

   @media (max-width: $md4 + px) {
      grid-column-gap: 50px;
      padding: 100px 20px;
   }
}


.logos {
   display: none;

   @media (max-width: 1200px) {
      display: block
   }
}

.footer__logo{
   @media (max-width: 1200px){
      margin-bottom: 40px;
   }
}

.footer__list {
   display: flex;
   flex-wrap: wrap;

   @media (max-width: 1200px) {
      flex-direction: column;
      order: 1;
   }

   .footer-main {
      color: $buttonColor;
      position: relative;

      &::before,
      &::after {
         content: '';
         width: 10px;
         height: 3px;
         background-color: $buttonColor;
         position: absolute;
         top: 10px;
         left: 1px;
      }

      &::before {
         transform: rotate(40deg);
         left: 68px;
      }

      &::after {
         transform: rotate(-40deg);
         left: 73.5px;
      }
   }


   li {
      margin-right: 30px;

      @media (max-width: 1200px) {
         margin-bottom: 20px;
         margin-right: 0px;

         &:last-child {
            margin: 0px;
         }
      }

      &:last-child {
         margin-right: 0px;
      }

      a {
         font-size: 18px;
         line-height: 20px;
         color: $whiteColor;

      }
   }
}


.footer__list-connect {
   display: flex;
   flex-direction: column;
   justify-content: center;


   @media (max-width: 1200px) {
      order: 1;
   }

   .log {
      @media (max-width: 1200px) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
   }

   .footer_tel {
      display: flex;
      align-items: center;
      margin-bottom: 10px;


      a {
         font-size: 18px;
         line-height: 20px;
         color: white;
      }
   }

   span {
      display: block;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: $whiteColor;
      margin-bottom: 10px;
   }

   .footer_time {
      display: flex;
      align-items: center;

      p {
         font-size: 12px;
         line-height: 14px;
         color: $whiteColor;
      }
   }
}

.fa-phone-alt {
   color: white;
   margin-right: 5px;
}

.fa-clock {
   color: white;
   margin-right: 5px;
}

.btn-up {
   display: flex;
   flex-direction: column;
   cursor: pointer;

   @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   span {
      font-size: 18px;
      color: $whiteColor;
   }
}

.fa-hand-point-up {
   color: $whiteColor;
   font-size: 40px;
}