.modal {
   position: absolute;
   visibility: hidden;
   opacity: 0;
   transition: .3s;
   // top: -1000px;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   overflow-y: scroll;
   padding: 60px 15px;
   // height: 100%;
}

.modal_active {
   position: fixed;
   top: 0;
   visibility: visible;
   opacity: 1;
   transition: .3s;
}

.form-modal {
   padding: 0px 0px 0px 0px;
}

.modal__content {
   width: 350px;
   padding: 30px;
   height: 200px;
   max-height: 100%;
   background: #f9f9f9;
   box-shadow: 0 5px 15px black;
   border-radius: 3px;
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;

   .call_me {
      padding: 12px 20px;
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      color: $buttonColor;
      border: 1px solid $buttonColor;
   }
}

.modal__close-button {
   height: 30px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   position: absolute;
   right: 0;
   top: 0;
   background: none;
   cursor: pointer;
   transition: .3s;
   outline: none;

   img {
      width: 40px;
      height: 40px;
   }
}

.hidden {
   overflow: hidden;
}

.pop{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.form-modal {
   div {
      input {
         padding: 13px 0px 13px 54px;
         margin-bottom: 10px;
         width: 100%;
         margin-right: 0px;
      }
   }
}

.thanks {
   display: flex;
   flex-direction: column;
   text-align: center;

   .thanks__text {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: $titleColor;

      span {
         font-size: 39px;
         font-weight: 700;
         line-height: 40px;
      }
   }
}
