.articles {
   padding: 0px 50px 0px 50px;
   background-color: $whiteColor;

   @media (max-width: $md3 + px){
      padding: 0px 20px 0px 20px;
   }
}

.articles__title {
   padding: 10px 0px 29px 0px;
   @include adaptive-font (39, 16);
   line-height: calc(40 / 39);
   font-weight: 700;
   color:$titleColor;
   text-align: center;
}

.articles__items {
   display: grid;
   grid-template-columns: 1fr 1fr;

   @media (max-width: 1024px){
      grid-template-columns: 1fr;
   }
}