.cards {
   padding: 0px 50px 29px 50px;

   @media (max-width: 1020px) {
      padding: 0px 20px 29px 20px;
   }

   @media (max-width: $md4 + px) {
      padding: 0px 0px 29px 0px;
   }
}

.cards__blocks {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 15px;
   grid-row-gap: 15px;

   @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
   }

   @media (max-width: $md3 + px) {
      grid-template-columns: 1fr;
   }
}

.card-block {
   background-color: $whiteColor;
   padding: 28px 24px 25px 21px;
   display: flex;
   height: 240px;
   width: 100%;

   @media (max-width: $md4 + px) {
      height: 100%;
   }
}

.title-block {
   padding: 0px 65px;
   display: flex;
   align-items: center;
   justify-content: center;


   @media (max-width: $md4 + px) {
      height: 240px;
   }

   span {
      display: block;
      @include adaptive-font (30, 16);
      line-height: calc(41 / 30);
      font-weight: 700;
      color: $titleColor;
      text-align: center;
   }
}


._block__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   ;
   margin-right: 15px;
}

._block__info {
   span {
      height: 80px;
      padding: 0px 0px 7px 0px;
      display: block;
      @include adaptive-font (21, 16);
      line-height: calc(24 / 21);
      font-weight: 700;
   }

   p {
      padding: 0px 0px 25px 0px;
      width: 90%;
      font-size: 14px;
      line-height: 19px;

      @media (max-width: $md4 + px) {
         width: 100%;
      }
   }
}

.sertificates {
   padding: 0px 50px;
   text-align: center;

   @media (max-width: 1020px) {
      padding: 0px 20px;
   }

   @media (max-width: $md3 + px) {
      padding:0px 0px 29px 0px;
   }

   img {
      width: 100%;
   }
}