.main-about_us {
   padding: 27px 50px 34px 50px;

   @media (max-width: $md3 +px) {
      padding: 27px 0px 34px 0px;
   }
}

.main-about_us__title {
   padding: 0px 0px 31px 0px;
   display: flex;

   @media (max-width: 600px) {
      flex-direction: column;
   }
}

._title_us__text {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 0 1 30%;
   background: linear-gradient(270deg, #2FA365 0%, #15545C 100%);
   box-shadow: 0px 2px 4px rgba(0, 24, 112, 0.21);

   span {
      @include adaptive-font (39, 16);
      line-height: calc(40 / 39);
      font-weight: 700;
      color: $whiteColor;


      @media (max-width: 600px) {
         padding: 10px 0px;
      }
   }
}

._title_us__pic {
   img {
      width: 100%;
   }
}


.main-about_us__family {
   display: flex;
   flex-direction: column;
}

._family-top {
   display: flex;
   background-color: $whiteColor;

   @media (max-width: 1200px) {
      flex-direction: column;
   }
}

._family-top__text {
   padding: 0px 32px 35px 47px;
   flex: 0 1 50%;

   @media (max-width: $md3 + px) {
      padding: 0px 15px 35px 15px;
   }

   span {
      display: block;
      padding: 35px 0px 33px 0px;
      @include adaptive-font (39, 16);
      line-height: calc(40 / 39);
      font-weight: 700;
      color: rgba(47, 163, 101, 1);
   }

   p {
      padding: 0px 0px 20px 0px;
      @include adaptive-font (18, 16);
      line-height: calc(24/ 18);

      &:last-child {
         padding: 0px 0px 0px 0px;
      }
   }
}

._family-top__pic {
   vertical-align: baseline;
   flex: 0 1 50%;

   @media (max-width: 1200px) {
      text-align: center;
   }


   img {
      width: 100%;
      height: auto;

      @media (max-width: 1200px) {
         width: auto;
      }

      @media (max-width: $md3 +px) {
         width: 100%;
      }

   }
}

._family-bottom {
   display: flex;

   @media (max-width: 1200px) {
      flex-direction: column-reverse;
    }
}

._family-bottom__pic {
   flex: 0 1 30%;

   img{
      @media (max-width: 550px){
         width: 100%;
      }
   }


   @media (max-width: 1200px) {
      text-align: center;
   }
}

._family-bottom__text {
   padding: 0px 28px 0px 44px;
   display: flex;
   align-items: center;
   flex: 0 1 70%;
   background: linear-gradient(261.76deg, #2FA365 1.82%, #15545C 100%);
   box-shadow: 0px 2px 4px rgba(0, 24, 112, 0.21);
   border-radius: 0px 3px 3px 0px;

   @media (max-width: 1200px) {
     flex-direction: column-reverse;
   }

   @media (max-width: $md3 +px){
      padding: 0px 0px 0px 0px;
   }

   ._text__info {
    
      padding: 46px 0px 46px 0px;

      p {
         display: block;
         width: 86%;
         margin: 0 auto;
         @include adaptive-font (18, 16);
         line-height: calc(24 / 18);
         color: $whiteColor;
      }
   }

   ._text__pic {
      display: none;
      padding: 20px 0px 0px 0px;

      @media (max-width: 1200px) {
         display: block;
      }
   }

}