@charset "UTF-8";
@use "sass:math";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Clear-Sans";
  font-display: swap;
  src: url("../fonts/Regular.woff2") format("woff2"), url("../fonts/Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clear-Sans";
  font-display: swap;
  src: url("../fonts/Bold.woff2") format("woff2"), url("../fonts/Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/normal.woff2") format("woff2"), url("../fonts/normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.intro, .header-top, .header-top__mobile {
  background: -webkit-gradient(linear, right top, left top, from(#2FA365), to(#15545C));
  background: linear-gradient(270deg, #2FA365 0%, #15545C 100%);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 24, 112, 0.21);
          box-shadow: 0px 2px 4px rgba(0, 24, 112, 0.21);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Clear-Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Clear-Sans";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1380px;
  margin: 0 auto;
}

@media (max-width: 1392px) {
  ._container {
    max-width: 1170px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.intro {
  padding: 0px 0px 0px 0px;
}

.intro-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-block__info {
  padding: 35px 0px 0px 79px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39%;
          flex: 0 1 39%;
  color: #fff;
}

@media (max-width: 991.98px) {
  .intro-block__info {
    padding: 35px 0px 0px 44px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 56%;
            flex: 0 1 56%;
  }
}

@media (max-width: 400px) {
  .intro-block__info {
    padding: 35px 0px 0px 20px;
  }
}

.intro-block__info h1 {
  padding: 0px 0px 20px 0px;
  font-family: Roboto;
  line-height: calc(84 / 72);
}

@media (max-width: 768px) {
  .intro-block__info h1 {
    font-size: calc(12px + 78 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  .intro-block__info h1 {
    font-size: calc(12px + 60 * (100vw / 1440));
  }
}

.intro-block__info p {
  font-family: Roboto;
  line-height: calc(42 / 36);
}

@media (max-width: 768px) {
  .intro-block__info p {
    font-size: calc(16px + 26 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  .intro-block__info p {
    font-size: calc(16px + 20 * (100vw / 1440));
  }
}

@media (max-width: 768px) {
  .intro-block__info p {
    padding: 0px 0px 20px 0px;
  }
}

.intro-block__pic {
  padding: 50px 0px 0px 0px;
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.8%;
          flex: 0 1 47.8%;
}

@media (max-width: 991.98px) {
  .intro-block__pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

.main {
  padding: 29px 0px 0px 0px;
  background-color: #E5E5E5;
}

.main__container {
  padding: 0px 50px;
}

@media (max-width: 991.98px) {
  .main__container {
    padding: 0px 0px 0px 0px;
  }
}

.brends {
  padding: 6px 80px 4px 80px;
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

@media (max-width: 991.98px) {
  .brends {
    padding: 6px 20px 4px 20px;
  }
}

.brends img {
  margin-right: 45px;
}

@media (max-width: 629px) {
  .brends img {
    margin-right: 0px;
  }
}

.brends img:last-child {
  margin-right: 0px;
}

.comarovsky {
  padding: 0px 0px 31px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .comarovsky {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.comarovsky__info {
  padding: 42px 0px 113px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 16px;
  background-image: url("../img/main(home)/bg-comarovski.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 1200px) {
  .comarovsky__info {
    margin: 0px;
  }
}

@media (max-width: 767.98px) {
  .comarovsky__info {
    padding: 42px 20px 113px 40px;
    background-image: url("../img/main(home)/zerkalo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media (max-width: 585px) {
  .comarovsky__info {
    padding: 42px 20px 42px 20px;
    background: -webkit-gradient(linear, right top, left top, from(#2FA365), to(#15545C));
    background: linear-gradient(270deg, #2FA365 0%, #15545C 100%);
  }
}

.comarovsky__info h2 {
  font-family: Lato;
  padding: 0px 0px 29px 0px;
  line-height: calc(40 / 39);
  font-weight: 700;
  color: #fff;
}

@media (max-width: 768px) {
  .comarovsky__info h2 {
    font-size: calc(16px + 29.9 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  .comarovsky__info h2 {
    font-size: calc(16px + 23 * (100vw / 1440));
  }
}

@media (max-width: 585px) {
  .comarovsky__info h2 {
    text-align: center;
  }
}

.comarovsky__info p {
  margin-bottom: 22px;
  width: 70%;
  font-family: Lato Medium;
  line-height: calc(19 / 14);
  font-weight: 500;
  color: #fff;
}

@media (max-width: 768px) {
  .comarovsky__info p {
    font-size: calc(16px + -2.6 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  .comarovsky__info p {
    font-size: calc(16px + -2 * (100vw / 1440));
  }
}

@media (max-width: 1300px) {
  .comarovsky__info p {
    width: 85%;
  }
}

@media (max-width: 767.98px) {
  .comarovsky__info p {
    width: 100%;
    text-align: left;
  }
}

.comarovsky__info p:last-child {
  margin-bottom: 0px;
}

.comarovsky__youtube {
  padding: 31px 37px 0px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  background-color: #fff;
}

@media (max-width: 585px) {
  .comarovsky__youtube {
    padding: 31px 0px 0px 0px;
  }
}

._youtube__title {
  padding: 0px 0px 18px 0px;
  line-height: calc(28 / 21);
  color: #007F00;
  text-align: left;
}

@media (max-width: 768px) {
  ._youtube__title {
    font-size: calc(16px + 6.5 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  ._youtube__title {
    font-size: calc(16px + 5 * (100vw / 1440));
  }
}

@media (max-width: 585px) {
  ._youtube__title {
    text-align: center;
  }
}

iframe {
  margin-bottom: 30px;
}

@media (max-width: 1300px) {
  iframe {
    width: 480px;
    height: 270px;
  }
}

@media (max-width: 1200px) {
  iframe {
    width: 580px;
  }
}

@media (max-width: 767.98px) {
  iframe {
    width: 480px;
  }
}

@media (max-width: 480px) {
  iframe {
    width: 380px;
    height: 210px;
  }
}

@media (max-width: 350px) {
  iframe {
    width: 320px;
    height: 190px;
  }
}

._youtube__link {
  padding: 16px 32px;
  margin-bottom: 26px;
  line-height: calc(18 / 24);
  font-weight: 700;
  color: #F3761B;
  border: 2px solid #F3761B;
}

@media (max-width: 768px) {
  ._youtube__link {
    font-size: calc(16px + 2.6 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  ._youtube__link {
    font-size: calc(16px + 2 * (100vw / 1440));
  }
}

.advantages {
  padding: 33px 33px 33px 33px;
  margin-bottom: 37px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .advantages {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .advantages {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 479.98px) {
  .advantages {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item span {
  width: 80%;
  font-size: 14px;
  line-height: 19px;
}

.details {
  height: 600px;
  background: -webkit-gradient(linear, right top, left top, from(#2FA365), to(#15545C));
  background: linear-gradient(270deg, #2FA365 0%, #15545C 100%);
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  padding: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container {
  padding: 0px 40px 0px 80px;
}

@media (max-width: 1257px) {
  .header__container {
    padding: 0px 20px 0px 40px;
  }
}

@media (max-width: 1110px) {
  .header__container {
    padding: 0px 0px;
  }
}

.header-top {
  padding: 8px 0px 6px 0px;
  text-align: center;
}

@media (max-width: 1110px) {
  .header-top {
    display: none;
  }
}

.header-top span {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
}

.header-section {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 399;
}

@media (max-width: 1110px) {
  .header-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 24, 112, 0.21);
            box-shadow: 0px 0px 4px rgba(0, 24, 112, 0.21);
  }
}

.header-section__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13%;
          flex: 0 1 13%;
}

.header-section__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

@media (max-width: 1110px) {
  .header-section__menu {
    display: none;
  }
}

._header_menu__info {
  padding: 0px 0px 16.5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

._info__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 74.3%;
          flex: 0 1 74.3%;
}

@media (max-width: 1110px) {
  ._info__connect {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

._connec__tel {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1110px) {
  ._connec__tel {
    margin-bottom: 23px;
    margin-right: 0px;
  }
}

._connec__tel a {
  line-height: calc(24 / 20);
  color: #007F00;
}

@media (max-width: 768px) {
  ._connec__tel a {
    font-size: calc(16px + 6.5 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  ._connec__tel a {
    font-size: calc(16px + 5 * (100vw / 1440));
  }
}

.fa-phone-alt {
  color: #30489F;
}

._connec__tel-rewerse {
  margin-right: 40px;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
  text-transform: uppercase;
  border-bottom: 1px dashed #222222;
}

@media (max-width: 1110px) {
  ._connec__tel-rewerse {
    margin-bottom: 23px;
    margin-right: 0px;
  }
}

._connect__rallyTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1110px) {
  ._connect__rallyTime {
    margin-bottom: 34px;
  }
}

._connect__rallyTime p {
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}

.fa-clock {
  color: #30489F;
}

._info__connect__onSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.3%;
          flex: 0 1 41.3%;
}

@media (max-width: 1110px) {
  ._info__connect__onSite {
    margin-bottom: 32px;
  }
}

._info__connect__onSite p {
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}

._info__connect__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 12%;
          flex: 0 1 12%;
}

._info__connect__lang span {
  margin-right: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}

._info__connect__lang span:last-child {
  margin-right: 0px;
}

._header_menu__list {
  padding: 20px 0px 0px 0px;
}

._header_menu__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._header_menu__list ul li {
  margin-right: 63px;
}

@media (max-width: 1425px) {
  ._header_menu__list ul li {
    margin-right: 43px;
  }
}

@media (max-width: 1190px) {
  ._header_menu__list ul li {
    margin-right: 33px;
  }
}

._header_menu__list ul li:last-child {
  margin-right: 0px;
}

._header_menu__list ul li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog {
  display: none;
  line-height: calc(24 / 18);
  font-weight: 700;
  color: #F3761B;
}

@media (max-width: 768px) {
  .catalog {
    font-size: calc(16px + 2.6 * ((100vw -320px) / 1440));
  }
}

@media (min-width: 768px) {
  .catalog {
    font-size: calc(16px + 2 * (100vw / 1440));
  }
}

@media (max-width: 1110px) {
  .catalog {
    display: block;
  }
}

.header-section__shop {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 3%;
          flex: 0 1 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-shopping-basket {
  font-size: 35px;
  color: #007F00;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

/*Основные стили*/
/*Слайдер*/
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*Конкретный слайдер*/
.slick .slick-slider {
  min-width: 0;
}

.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 9999999;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #7a7a7a;
}

.burger span {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 4px;
  border-radius: 13px;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  background: #007F00;
}

.burger span:nth-child(1) {
  top: 15px;
}

.burger span:nth-child(2) {
  top: 24px;
}

.burger span:nth-child(3) {
  bottom: 13px;
}

.active span:nth-child(1) {
  -webkit-transform: translate(-15px, 10px) rotate(-45deg);
          transform: translate(-15px, 10px) rotate(-45deg);
  left: 50%;
}

.active span:nth-child(2) {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  opacity: 0;
}

.active span:nth-child(3) {
  -webkit-transform: translate(-15px, -9px) rotate(45deg);
          transform: translate(-15px, -9px) rotate(45deg);
  left: 50%;
}

.mobile {
  padding: 0px 0px 0px 20px;
}

.mobile nav {
  display: none;
  overflow: hidden;
  padding: 0px 0px 45px 0px;
  position: absolute;
  top: -500px;
  border-radius: 50%;
  z-index: 39;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.mobile .open {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 65vh;
  right: 0px;
  bottom: 0px;
  top: 89px;
  border-radius: 0;
  z-index: 300;
  background-color: #fff;
}

@media (max-width: 530px) {
  .mobile .open {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

._header-list__mobile {
  overflow: hidden;
}

._header-list__mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._header-list__mobile ul li {
  margin-bottom: 23px;
}

._header-list__mobile ul li:last-child {
  margin-bottom: 0px;
}

._header-list__mobile ul li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

._header_menu-info__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.header-top__mobile {
  overflow: hidden;
  padding: 8px 0px 6px 0px;
  text-align: center;
  width: 100%;
}

.header-top__mobile span {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
}

.mobile {
  display: none;
}

@media (max-width: 1110px) {
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
  }
}

.burger-wrapper {
  padding: 0px 20px 26px 26px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
  height: 100%;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal__content {
  width: 100%;
  padding: 30px;
  height: 70%;
  max-height: 100%;
  background: #f9f9f9;
  -webkit-box-shadow: 0 5px 15px black;
          box-shadow: 0 5px 15px black;
  border-radius: 3px;
  position: relative;
}

.modal__close-button {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
}

.modal__close-button:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hidden {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */